# PATH PLANNING FOR BLIND PEOPLE

Group no.:-7

52- Bhumika Bijane

60- Geetai Charde 

67- Abhijit Chine 

Div:- A 

Subject: Computer Vision

In [25]:
#importing libraries
import pandas as pd
import pyttsx3
import gmaps
import gmaps.datasets

In [26]:
apikey = 'Enter Api key'
#configuring api key
gmaps.configure(api_key=apikey)

In [3]:
# setup for voice message
Assistant = pyttsx3.init('sapi5')
voices = Assistant.getProperty('voices')
Assistant.setProperty('voices',voices[0].id)

In [4]:
#function for converting text to speech 
def speak(audio):
    print(" ")
    Assistant.say(audio)
    print(f": {audio}")
    print(" ")
    Assistant.runAndWait()

### Reading datasets

In [6]:
loc_datatype = {"loc_id":int, "location":str, "latitude":str, "longitude":str}
loc_df = pd.read_excel('D:\\Geetai data\\VIT\\5th sem\\project\\CV\\Pune_locations_dataset.xlsx', dtype = loc_datatype)
loc_df

   loc_id                 location          latitude         longitude
0       0                      VIT  18.4636235448827  73.8681970215453
1       1            dolphin chok   18.4613530985777   73.866319717478
2       2         sukhsagar nagar   18.4565318847273  73.8701151005911
3       3                lake town  18.4574398192754  73.8640314780571
4       4  Pune Manapa Bus Station  18.5231950605349  73.8538378691473
5       5        chintamani nagar   18.4663130611137   73.866189236829
6       6          mahesh society   18.4690560005604   73.865055744531
7       7  bibewadi police station  18.4673373998633  73.8641499107465
8       8               kk market   18.4698715835638  73.8584392147734
9       9        swargate busstand  18.4971512765214  73.8580622798786

In [7]:
# Information about dataset
loc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   loc_id     10 non-null     int32
 1   location   10 non-null     object
 2   latitude   10 non-null     object
 3   longitude  10 non-null     object
dtypes: int32(1), object(3)
memory usage: 408.0+ bytes

In [9]:
waypt_datatypes = {"waypt_start_id":int, "waypt_stop_id":int, "waypt_seq":int, "waypt_lat":str, "waypt_long":str, "waypt_nm":str}
waypt_df = pd.read_excel('D:\\Geetai data\\VIT\\5th sem\\project\\CV\\way_points dataset.xlsx', dtype = waypt_datatypes)
waypt_df.head()

,waypt_start_id,waypt_stop_id,waypt_seq,waypt_lat,waypt_long,waypt_nm
0,0,1,1,18.4636423060993,73.8672999807301,SUPRIYA CAFE
1,0,1,2,18.4622745152536,73.8673792512366,Upper Market Road
2,0,1,3,18.4610524809038,73.8674828721393,Upper Indira Nagar Corner
3,0,2,1,18.4609669931155,73.8674884242009,Bibwewadi Road - Rajeev Gandhi
4,0,2,2,18.4609436766806,73.8691353780357,diamond jerish mutton and chicke

In [10]:
waypt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   waypt_start_id  387 non-null    int32
 1   waypt_stop_id   387 non-null    int32
 2   waypt_seq       387 non-null    int32
 3   waypt_lat       387 non-null    object
 4   waypt_long      387 non-null    object
 5   waypt_nm        387 non-null    object
dtypes: int32(3), object(3)
memory usage: 13.7+ KB

### Taking location choice and confirmation from the user

In [11]:
# Asking to user to select source location
while(True):
    speak("Select source location key number from {} to {} : ".format(loc_df['loc_id'].min(), loc_df['loc_id'].max()))
    source_loc_id = int(input())
        
    if source_loc_id in range(loc_df['loc_id'].min(), loc_df['loc_id'].max() + 1):
        # Voice message of selected source 
        speak("You have selected source as, {}".format(loc_df.loc[source_loc_id]["location"]))

        # asking for confirmation 
        speak("Do you want to continue with the selected option, press + to confirm or any other key to denay")
        a = input()
        # '+' is avilable in numeric keypad
        if a == '+': 
            speak("You are continuing with source as {}".format(loc_df.loc[source_loc_id]["location"]))
            source_location = loc_df.loc[source_loc_id]["location"]
            break
        else:
            speak("You have denied the chosen option, please select another location key")
    else:
        speak("Invalid key pressed")

#######################################################################################################

# Asking to user to select destination location
while(True):
    speak("Select destination location key number from {} to {}, excluding source location key: ".format(loc_df['loc_id'].min(), loc_df['loc_id'].max()))
    destination_loc_id = int(input())
        
    if (destination_loc_id in range(loc_df['loc_id'].min(), loc_df['loc_id'].max() + 1)) and (destination_loc_id != source_loc_id):
        # Voice message of selected destination
        speak("you have selected destination as, {}".format(loc_df.loc[destination_loc_id]["location"]))

        # asking for confirmation 
        speak("Do you want to continue with the selected option, press + to confirm or any other key to denay")
        a = input()
        # '+' is avilable in numeric keypad
        if a == '+': 
            speak("you are continuing with destination as {}".format(loc_df.loc[destination_loc_id]["location"]))
            destination_location = loc_df.loc[destination_loc_id]["location"]
            break
        else:
            speak("You have denied the chosen option, please select another location key")
    else:
        speak("Invalid key pressed")

#print(source_location, destination_location)

: Select source location key number from 0 to 9 :

5

: You have selected source as, chintamani nagar


: Do you want to continue with the selected option, press + to confirm or any other key to denay

+

: You are continuing with source as chintamani nagar


: Select destination location key number from 0 to 9, excluding source location key:

8

: you have selected destination as, kk market


: Do you want to continue with the selected option, press + to confirm or any other key to denay

+

: you are continuing with destination as kk market

In [12]:
# selecting coordinates of source and destination from the dataset
start_pos_coordinates = (float(loc_df.loc[source_loc_id]["latitude"]), float(loc_df.loc[source_loc_id]["longitude"]))
destination_pos_coordinates = (float(loc_df.loc[destination_loc_id]["latitude"]), float(loc_df.loc[destination_loc_id]["longitude"]))

print(start_pos_coordinates)
print(destination_pos_coordinates)

(18.4663130611137, 73.866189236829)
(18.4698715835638, 73.8584392147734)

### Calculating waypoints

In [13]:
# Filtering out required location's waypoint
# Logic to optimize waypoint dataset 
waypt_list = []
waypt_nm_list = []
if source_loc_id < destination_loc_id:
    selected_waypt_df = waypt_df[(waypt_df.waypt_start_id == source_loc_id)&(waypt_df.waypt_stop_id == destination_loc_id)]
    
    for i in range(min(selected_waypt_df.waypt_seq) - 1, max(selected_waypt_df.waypt_seq), 1):
        waypt_list.append((float(selected_waypt_df.waypt_lat.iloc[i]), float(selected_waypt_df.waypt_long.iloc[i])))
        waypt_nm_list.append(selected_waypt_df.waypt_nm.iloc[i])
        
else:
    selected_waypt_df = waypt_df[(waypt_df.waypt_start_id == destination_loc_id)&(waypt_df.waypt_stop_id == source_loc_id)]
    
    for i in range(max(selected_waypt_df.waypt_seq) - 1, min(selected_waypt_df.waypt_seq) - 2, -1):
        waypt_list.append((float(selected_waypt_df.waypt_lat.iloc[i]), float(selected_waypt_df.waypt_long.iloc[i])))
        waypt_nm_list.append(selected_waypt_df.waypt_nm.iloc[i])

selected_waypt_df

,waypt_start_id,waypt_stop_id,waypt_seq,waypt_lat,waypt_long,waypt_nm
316,5,8,1,18.4663147941238,73.8661658350528,chintamani nagar
317,5,8,2,18.4663437401524,73.8659176161193,damodar society
318,5,8,3,18.4662301637598,73.8646001443222,Impression Corporate gift dealer
319,5,8,4,18.4690674405834,73.8641139566254,Swami Vivekanand Road
320,5,8,5,18.4686285030648,73.859154367368,kk market road
321,5,8,6,18.4692094757184,73.858490170615,Dwaraka pure veg restaurant
322,5,8,7,18.4694539586175,73.8584447565978,Rajdhani Maruti Axel & Shock Abs
323,5,8,8,18.4693471082479,73.8576280239527,Shravanis Life Style
324,5,8,9,18.4700424240771,73.8574097711443,Satara Road
325,5,8,10,18.4703468487123,73.8581599611838,gift zone
326,5,8,11,18.4701452265912,73.8584571599957,3 R Waste Management

In [14]:
print(waypt_list)
print(waypt_nm_list)

[(18.4663147941238, 73.8661658350528), (18.4663437401524, 73.8659176161193), (18.4662301637598, 73.8646001443222), (18.4690674405834, 73.8641139566254), (18.4686285030648, 73.859154367368), (18.4692094757184, 73.858490170615), (18.4694539586175, 73.8584447565978), (18.4693471082479, 73.8576280239527), (18.4700424240771, 73.8574097711443), (18.4703468487123, 73.8581599611838), (18.4701452265912, 73.8584571599957)]
['chintamani nagar', 'damodar society', 'Impression Corporate gift dealer ', 'Swami Vivekanand Road', 'kk market road', 'Dwaraka pure veg restaurant ', 'Rajdhani Maruti Axel & Shock Abs', 'Shravanis Life Style', 'Satara Road', 'gift zone', '3 R Waste Management']

### Voice message for calculated shortest path

In [15]:
waypt_nm_string = ", to ".join(waypt_nm_list)
speak("The shortest path from {a} to {b} is {a}, to {c}, to {b}".format(a = source_location, b = destination_location, c = waypt_nm_string))

: The shortest path from chintamani nagar  to kk market  is chintamani nagar , to chintamani nagar, to damodar society, to Impression Corporate gift dealer , to Swami Vivekanand Road, to kk market road, to Dwaraka pure veg restaurant , to Rajdhani Maruti Axel & Shock Abs, to Shravanis Life Style, to Satara Road, to gift zone, to 3 R Waste Management, to kk market

### Displaying map

In [27]:
fig = gmaps.figure()
planned_path = gmaps.directions_layer(start_pos_coordinates, destination_pos_coordinates, waypoints = waypt_list, optimize_waypoints=True, stroke_weight=4.0, travel_mode='WALKING')
fig.add_layer(planned_path)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
VIT_coordinates = (18.4636235448827, 73.8681970215453)
gmaps.figure(center=VIT_coordinates, zoom_level=12)

Figure(layout=FigureLayout(height='420px'))

In [18]:
#import gmaps
#configure api
#gmaps.configure(api_key=api_key)
#Define location 1 and 2
Durango = (18.4636235448827, 73.8681970215453)
SF = (18.4971512765214,73.8580622798786)
#Create the map
fig = gmaps.figure()
#create the layer
layer = gmaps.directions.Directions(Durango, SF, stroke_weight=4.0, travel_mode='WALKING', )
#planned_path = gmaps.directions_layer(start_pos_coordinates, destination_pos_coordinates, waypoints = waypt_list, optimize_waypoints=True, stroke_weight=4.0, travel_mode='WALKING')
#Add the layer
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(apikey)
now = datetime.now()
directions_result = gmaps.directions ( "18.4636235448827, 73.8681970215453","18.4971512765214,73.8580622798786" ,mode="driving",avoid="ferries",departure_time=now)
print (directions_result[0]['legs'][0]['distance']['text'])
print (directions_result[0]['legs'][0]['duration']['text'])

4.4 km
14 mins

In [ ]:
gmaps= googlemaps.Client (key=api_key)

1234567890

now datetime.now()

8 directions_result = gmaps.directions ("37.2753,-107.880067",

10

11

12

"37.7749,-122.419416",

mode="driving",

avoid="ferries",

13

departure_time=now

14

15

print (directions_result[0]['legs'][0]['distance']['text'])

16 print (directions_result[0]['legs'][0]['duration']['text'])

In [28]:
#import gmaps
#configure api
#gmaps.configure(api_key=api_key)
#Define location 1 and 2
Durango = (18.4636235448827, 73.8681970215453)
SF = (18.4971512765214,73.8580622798786)
#Create the map
fig = gmaps.figure()
#create the layer
layer = gmaps.directions.Directions(Durango, SF, stroke_weight=4.0, travel_mode='WALKING', )
#planned_path = gmaps.directions_layer(start_pos_coordinates, destination_pos_coordinates, waypoints = waypt_list, optimize_waypoints=True, stroke_weight=4.0, travel_mode='WALKING')
#Add the layer
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='420px'))